* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #4A99E9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Lato', 'Noto Sans JP',sans-serif;
}

.back-button {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 30px;
  padding: 15px 40px;
  background-color: #7FD34D;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.back-button a{
  text-decoration: none;
}
.back-button:hover {
  background-color: #6AC13E;
}

.container {
  text-align: center;
}

h1 {
  font-size: 65px;
  color: white;
  margin-bottom: 40px;
}

.input-box {
  width: 80%;
  max-width: 500px;
  padding: 25px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  margin-bottom: 20px;
}

.input-box:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button {
  font-size: 35px;
  padding: 15px 40px;
  background-color: #F7A24F;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #f7913f;
}

.button a{
  text-decoration: none;
  color: white;
}
.back-button a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.container .errorMessage ruby rt{
  color: red;
}

rt { color: white; 
  font-size: 15px;
  position: relative }

